*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

header{
    width: 100vw;
    height: 100%;
    display: flex;
    grid-row: 1/2;
    align-items: center;
    justify-content: space-around;
    color: white;
    border-bottom: solid 0.3rem #563b8b;
}

.logo{
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    width: 20rem;
}

#menu-toggle{
    display: none;
    width: 20vw;
}

footer h1{
    font-family: 'Open Sans';
    color: #563b8b;
}

header a{
    color:#563b8b;
    font-family: Oswald;
    font-size: 1.5rem;
}

header #menu{
    width: 1rem;
    display: flex;
    background-color: white;
}

header nav{
    width: 40rem;
    display: flex;
    justify-content: space-around;
}

footer{
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    font-family: 'Oswald';
}

.buttons{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .button{
    background-color: #563b8b;
    padding: 1rem;
    color: white;
    border: inset 0.3rem #a87dffa9; 
    border-radius: 10rem;
    font-family: 'Oswald';
    margin: 1rem;
    display: flex;
    align-items: center;
}

footer nav{
    width: 20vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: -3rem;
}

.buttons #tiktok{
    width: 1.5rem;
}

#insta{
    width: 1rem;
    margin-right: 0.5rem;
}

#footerLogo{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

#footerLogo img{
    width: 3rem;
    margin: 1rem;
}


@media (max-width: 600px) {
    header nav{
        display: none;
    }

    #menu-toggle{
        display: flex;
        justify-content: center;
    }
    
    footer nav{
        width: 60vw;
    }

    footer .button{
        padding: 0.5rem;
    }
}